*.pyc
*__pycache__
useful_ckpts/bigvgan
useful_ckpts/*.ckpt
useful_ckpts/CLAP/*.ckpt
evaluation
.idea/
logs
audiocaps_gen
audioldm_eval
src
processed
run.sh
infer.sh
*.DS_Store
data_melnone16000nfft1024
data
audiocaps_mels
